/*Login*/
#Title_Form {
    font-size: 40px;
    color: #fff;
}

.Tv_Icon {
    font-size: 20px;
    color: blue;
    margin-left: -10px;
}

.sign__group--checkbox input:not(:checked) + label:after,
.sign__group--checkbox input:checked + label:after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 22px;
    height: 22px;
    text-align: center;
    transition: 0.5s;
    background: url(https://dmitryvolkov.me/demo/flixtv/main/img/checkmark.svg) no-repeat center/12px auto;
    border-radius: 8px;
}

.sign__btn {
    outline: none !important;
    border: none !important;
}
/*Admin*/
.Header_Logo_Admin {
    font-size: 40px;
    color: #fff;
    padding-top: 20px;
}

.Header_Logo_Admin span {
        display: inline-block;
        font-size: 20px;
        margin-left: -10px;
        color: blue;
    }

.Label {
    color: #ccc
}
/*Client*/

