@{ ViewBag.Title = "Index"; Layout =
   "~/Areas/Admin/Views/Shared/_AdminTemplate.cshtml";
    }

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.7.1/chart.min.js"></script>
<div class="col-12">
    <div class="main__title">
        <h2>Quản lý doanh thu phòng vé</h2>
    </div>
</div>
<div class="col-12 text-white">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">Doanh thu các phim nổi bật</div>
            <div class="col-12">
                <canvas id="myChart"></canvas>
            </div>
        </div>
        <hr />
        <div class="row m-t-4">
            <div class="col-12 Select_Year">
                <label>Chọn Năm</label>
                <select class="p-2 border-0" name="year" id="SelectYear">
                    
                </select>
            </div>
            <div class="col-12">Doanh thu theo tháng trong năm</div>
            <div class="col-12">
                <canvas id="myChartLine" class="text-white"></canvas>
            </div>
        </div>
    </div>
    @section scripts{
        <script>
        const ctx = document.getElementById("myChart").getContext("2d");

        const data = {
            labels: ['@ViewData["M1"]','@ViewData["M2"]','@ViewData["M3"]','@ViewData["M4"]'],
            datasets: [
                {
                    label: "Sô Lượng vé bán",
                    data: [@ViewData["C1"],@ViewData["C2"],@ViewData["C3"],@ViewData["C4"],@ViewData["C5"],@ViewData["C6"]],
                    backgroundColor: [
                        "rgba(255, 99, 132, 0.8",
                        "rgba(255, 159, 64, 0.8",
                        "rgba(255, 205, 86, 0.8",
                        "rgba(75, 192, 192, 0.7",
                        "rgba(54, 162, 235, 0.25",
                        "rgba(153, 102, 255, 0.85)",
                        "rgba(201, 203, 207, 0.58)",
                    ],
                    borderColor: [
                        "rgb(255, 99, 132)",
                        "rgb(255, 159, 64)",
                        "rgb(255, 205, 86)",
                        "rgb(75, 192, 192)",
                        "rgb(54, 162, 235)",
                        "rgb(153, 102, 255)",
                        "rgb(201, 203, 207)",
                    ],
                    borderWidth: 1,
                },
            ],
        };
        const myChart = new Chart(ctx, {
            type: "bar",
            data: data,
            options: {
                plugins: {
                    legend: {
                        labels: {
                            color: "#fff"
                        }
                    }
                },
                scales: {
                    x: {
                        ticks: {
                            color: "#fff",
                        },
                        grid:{
                            color:"#ccc"
        }
                    },
                    y: {
                        ticks: {
                            color: "#fff",
                            beginAtZero: true,
                        }, grid: {
                            color: "#ccc"
                        }
                    },
                },
            },
        });
        const ArrayLine = [];

        for (let i = 1; i <= 12; i++) {
            ArrayLine.push(i);
        }
        const ArrayLineValue = [@ViewData["T1"],@ViewData["T2"],@ViewData["T3"],@ViewData["T4"],@ViewData["T5"],@ViewData["T6"],@ViewData["T7"],@ViewData["T8"],@ViewData["T9"],@ViewData["T10"],@ViewData["T11"],@ViewData["T12"] ];

        const ctx1 = document.getElementById("myChartLine").getContext("2d");
        const data1 = {
            labels: ArrayLine,
            datasets: [
                {
                    label: "Tổng số lượng vé bán trong tháng",
                    data: ArrayLineValue,
                    fill: false,
                    borderColor: "rgb(75, 192, 192)",
                    tension: 0.1,
                },
            ],
        };
        const myChartLine = new Chart(ctx1, {
            type: "line",
            data: data1,
            responsive: true,
            scaleFontColor: "#FFFFFF",
            options: {
                plugins: {
                    legend: {
                        labels: {
                            color:"#fff"
                        }
                    }
                },
                scales: {
                    x: {
                        ticks: {
                            color: "#fff",
                        }, grid: {
                            color: "#ccc"
                        }
                    },
                    y: {
                        ticks: {
                            color: "#fff",
                            beginAtZero: true,
                        }, grid: {
                            color: "#ccc"
                        }
                    },
                },
            },
        });
         let yearList = "";
            let year = new Date().getFullYear();
            console.log(year);
        for (let i = 0; i < 12; i++) {
            yearList += '<option value=' + Number(year - i) + '>' + Number(year - i) + '</option>';

        }
            $("#SelectYear").html(yearList);
            $("#SelectYear").change(function () {
                value = $(this).val();
                window.location.href = "/Admin/DoanhThu/Index?Nam=" + value;
            });
        </script>}
</div>
